/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2017, 4:33:31 PM
    Author     : Tan
*/

.Header1 {
    background-color: #a9de81;
}
.Header2 {
    background-color: #7bd99e;
}